{{!< default}}

<div class="container">
	{{#if races.length}}
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>Date</th>
					<th>Course</th>
					<th>Race</th>
					<th>Horse</th>
					<th>Odds</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				{{#each races}}
					<tr>
						{{! TODO: Maths helper to add 1 (math @index "+" 1) }}
						<th scope="row">{{increment @index}}</th>
						<td>{{this.date}}</td>
						<td>{{this.course}}</td>
						<td>{{this.race}}</td>
						<td>{{this.horse}}</td>
						<td>{{this.odds}}</td>
						{{! TODO: Add 'success' class if it won.  May need to put that into model}}
						<td {{#if this.won}}class="table-success"{{else if this.placed}}class="table-warning"{{/if}}>{{this.result}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		{{#if user}}<p><a class="btn btn-md btn-success" href='/keystone'>Add a race</a></p>{{/if}}
		<div class="alert alert-info">Whoa there horsie, there ain't no races! {{#if user}}What are you waiting for? Giddy-up!{{/if}} 🐎</div>
	{{/if}}
	{{#if races.results.length}}
		{{#if races.results.totalPages}}
			<div class="lead text-muted">
				Showing <strong>{{races.first}}</strong> 
				to <strong>{{races.last}}</strong>
				of <strong>{{races.total}}</strong>
				races
			</div>
		{{else}}
			{{!-- <div class="lead text-muted">Showing {{utils.plural(races.results.length, '* race')}}</div> --}}
			<div class="blog">
				{{#each races.results}}
					<div class="test">
						{{this.author.name.full}}
					</div>
				{{/each}}
			</div>
		{{/if}}
	{{/if}}
</div>
